/sch/Tube1/*.SchDocPreview
/sch/Tube1/History
/sch/Tube1/*.PcbDocPreview
/sch/Tube1/Project Logs for Tube1
/sch/Room1/*.SchDocPreview
/sch/Room1/History
/sch/Room1/*.PcbDocPreview
/sch/Room1/Project Logs for Room1
/sch/doc/MCU/网络收集参考例程.rar
/sch/doc/MCU/STM32F103C8T6核心板资料.rar
/sch/Tube02/*.PcbDocPreview
/sch/Tube02/*.SchDocPreview
/sch/Tube02/History
/sch/Tube02/Project Logs for Tube02
/mcu/tmcu/tmcu/MDK-ARM/tmcu.uvguix.Administrator
/mcu/tmcu/tmcu/MDK-ARM/DebugConfig
/mcu/tmcu/tmcu/MDK-ARM/RTE
/mcu/tmcu/tmcu/MDK-ARM/tmcu
/mcu/tmcu/tmcu/MDK-ARM/EventRecorderStub.scvd
/mcu/tmcu/tmcu/MDK-ARM/startup_stm32f407xx.lst
/sch/Tex01/History
/sch/Tex01/*.SchDocPreview
/sch/Tex01/Project Logs for Tex01
/sch/Tex01/*.PcbDocPreview
