/sch/Tube1/*.SchDocPreview
/sch/Tube1/History
/sch/Tube1/*.PcbDocPreview
/sch/Tube1/Project Logs for Tube1
/sch/Room1/*.SchDocPreview
/sch/Room1/History
/sch/Room1/*.PcbDocPreview
/sch/Room1/Project Logs for Room1
/sch/doc/MCU/网络收集参考例程.rar
/sch/doc/MCU/STM32F103C8T6核心板资料.rar
/sch/Tube02/*.PcbDocPreview
/sch/Tube02/*.SchDocPreview
/sch/Tube02/History
/sch/Tube02/Project Logs for Tube02
/mcu/tmcu/tmcu/MDK-ARM/tmcu.uvguix.Administrator
/mcu/tmcu/tmcu/MDK-ARM/DebugConfig
/mcu/tmcu/tmcu/MDK-ARM/RTE
/mcu/tmcu/tmcu/MDK-ARM/tmcu
/mcu/tmcu/tmcu/MDK-ARM/EventRecorderStub.scvd
/mcu/tmcu/tmcu/MDK-ARM/startup_stm32f407xx.lst
/sch/Tex01/History
/sch/Tex01/*.SchDocPreview
/sch/Tex01/Project Logs for Tex01
/sch/Tex01/*.PcbDocPreview
/sch/Tex01/Project Outputs for Tex01
/mcu/rmcu/rmcu/MDK-ARM/RTE
/mcu/rmcu/rmcu/MDK-ARM/DebugConfig
/mcu/rmcu/rmcu/MDK-ARM/rmcu
/mcu/rmcu/rmcu/MDK-ARM/startup_stm32f103xb.lst
/mcu/rmcu/rmcu/MDK-ARM/rmcu.uvguix.Administrator
/mcu/rmcu/rmcu/MDK-ARM/EventRecorderStub.scvd
/sch/Room02/History
/sch/Room02/*.SchDocPreview
/mcu/tex/tex/MDK-ARM/startup_stm32f030x6.lst
/mcu/tex/tex/MDK-ARM/DebugConfig
/mcu/tex/tex/MDK-ARM/RTE
/mcu/tex/tex/MDK-ARM/tex
/mcu/tex/tex/MDK-ARM/EventRecorderStub.scvd
/mcu/tex/tex/MDK-ARM/tex.uvguix.Administrator
/sch/Room02/Project Logs for Room02
/sch/Room02/*.PcbDocPreview
/sch/Room02/*.htm
/mcu/bak407
/sch/Rcon01/*.SchDocPreview
/sch/Rcon01/*.PcbDocPreview
/sch/Rcon01/History
/sch/Room03/*.PcbDocPreview
/sch/Room03/*.SchDocPreview
/sch/Room03/History
/sch/Tube03/History
/sch/Tube03/*.PcbDocPreview
/sch/Tube03/*.SchDocPreview
/sch/Tube03/Project Logs for Tube03
/sch/Tube03/Project Outputs for Tube03
