/sch/Tube1/*.SchDocPreview
/sch/Tube1/History
/sch/Tube1/*.PcbDocPreview
/sch/Tube1/Project Logs for Tube1
/sch/Room1/*.SchDocPreview
/sch/Room1/History
/sch/Room1/*.PcbDocPreview
/sch/Room1/Project Logs for Room1
/sch/doc/MCU/网络收集参考例程.rar
/sch/doc/MCU/STM32F103C8T6核心板资料.rar
/sch/Tube02/*.PcbDocPreview
/sch/Tube02/*.SchDocPreview
/sch/Tube02/History
/sch/Tube02/Project Logs for Tube02
